:root {
    --primary: #59ff00;
    --bolderPrimary: #379c00;
    --secundary: #ffffff;
    --bolderSecundary: #a3a29e;

    --mainFont: 'Montserrat';
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globals */

body {
    background-color: var(--secundary);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-align: center;
    color: black;
    font-family: var(--mainFont);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

img {
    width: 100%;
}

.container {
    max-width: 150rem;
    margin: 0 5rem;
}

/* Grid */

.grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 50%;
    margin: 3rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px){
    .header__logo{
        width: 20%;
    }
}

/* Nav*/

.nav {
    background-color: var(--bolderPrimary);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .nav {
        background-color: var(--bolderPrimary);
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
    }
}

.nav__link {
    font-family: var(--mainFont);
    color: var(--secundary);
    font-size: 2.5rem;
}

.nav__link--active,
.nav__link:hover {
    color: yellow;
}

.green-life {
    color: var(--bolderPrimary);
    font-size: 5rem;
}

/* Footer */

.footer {
    background-color: rgb(82, 81, 81);
    padding: 1rem;
    margin-top: 2rem;
}

.footer__text {
    font-family: var(--mainFont);
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* Products */

.product {
    background-color: var(--bolderPrimary);
    padding: 1rem;
}

.product__image {
    width: 100%;
}

.product__name {
    font-size: 3rem;
    color: white;
}

.product__price {
    font-size: 2.7rem;
    color: yellow;
}

.product__name,
.product__price {
    font-family: var(--mainFont);
    font-weight: bold;
    text-transform: capitalize;
    margin: 1rem 0;
    text-align: center;
}

/* Image */

.image {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
}

/*About us*/
.about-us {
    display: flex;
    flex-direction: column;
}

@media (min-width: 992px) {
    .about-us {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.about-us__image {
    grid-row: 1/2;
    width: 100%;
}

@media (min-width: 768px) {
    .about-us__image {
        grid-column: 2/3;
    }
}

.about-us__content{
    color: var(--bolderPrimary);
}

/* Blocks */
.blocks {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 3rem;
    justify-content: center;
    align-items: center;
}

.block {
    text-align: center;
}

.block__title {
    margin: 0;
}

@media (min-width: 992px) {
    .blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.block__image {
    width: 40rem;
    height: 30rem;
    margin-bottom: 1rem;
}

.block__content {
    margin: 3rem 5rem;
}

/** Button **/
.section-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    font-family: var(--mainFont);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 3rem 2rem;
    font-size: 1.8rem;
    border: none;
    background-color: var(--bolderPrimary);
    align-items: center;
}

@media (min-width: 480px) {
    .button {
        padding: 2rem 20rem;
    }
}

@media (min-width: 768px) {
    .button {
        display: inline-block;
    }

    .button:hover {
        cursor: pointer;
        color: yellow;
    }
}


/* Contacto */


.confirmation{
    background-color: rgb(119, 198, 0);
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.error{
    background-color: rgb(186, 0, 0);
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.contact-bg{
    background-image: url(../img/1.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: -5rem auto 0;
    width: 95%;
    padding: 3rem;
}

@media (min-width: 480px) {

}

.camp{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}



.camp__label{
    margin: 0 auto;
    flex: 0 0 9rem;
    text-align: right;
}

@media (min-width: 480px) {

}

.camp__field{
    flex: 1;
    border: 1px solid rgb(196, 194, 194);
}
